.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}
/* .profile-image {
    margin: 25px;
    width: 85%;
    height: 85%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel-body {
    padding: 0 25px;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
    border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group-justified>.btn-group .btn {
    width: 95%;
} */